<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>
<!-- Expansion panel to add Food Items -->
<div id="content" #content>
  <mat-card>
    <div>
      <input type="button" value="Capture Your F & B" (click)="captureScreen()" />
    </div>
  </mat-card>
</div>
<div class="row" id="contentToConvert">
  <h2 style="text-align: center"> Welcome {{userDisplayName | uppercase}}</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm" style="background-color:chartreuse">
        <h2 style="text-align: center">{{appFoodTitle}}</h2>
      </div>
      <div class="col-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Food</th>
              <th scope="col">Week 1</th>
              <th scope="col">Week 2</th>
              <th scope="col">Week 3</th>
              <th scope="col">Week 4</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of fTable">
              <td scope="row" style="width:20%">{{f.Food}}</td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week1"></td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week2"></td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week3"></td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week4"></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" style="background-color:chartreuse">
        <h2 style="text-align: center">{{appBeverageTitle}}</h2>
      </div>
      <div class="col-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Beverages</th>
              <th scope="col">Week 1</th>
              <th scope="col">Week 2</th>
              <th scope="col">Week 3</th>
              <th scope="col">Week 4</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of bTable">
              <td scope="row" style="width:20%">{{f.Beverage}}</td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week1"></td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week2"></td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week3"></td>
              <td><input type="text" class="form-control" id="name" name="name" required [(ngModel)]="f.Week4"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div><img class="logo" src="assets/logophilips.png"></div>
</div>